.o_list_view .o_list_table > thead > tr:first-child > th {
    border: none;
} 
th[data-name = "decharger"]{
    width: 38px !important;
}
th[data-name = "livrer"]{
    width: 38px !important;
}
th[data-name = "report2"]{
    width: 38px !important;
}
th[data-name = "report2"]{
    width: 38px !important;
}
th[data-name = "charger2"]{
    width: 38px !important;
}
th[data-name = "refuse"]{
    width: 38px !important;
}